# Python
*.pyc
__pycache__/

# MySQL database file (если есть)
*.sql
*.db

# Виртуальные окружения
venv/
.env/

# Лог-файлы
*.log

# Файлы IDE (например, VSCode, PyCharm)
.vscode/
../.idea/

# Директория с файлами сборки, если они есть
build/
dist/

# Файлы конфигурации среды разработки
*.env

# Файлы временных данных
*.bak
*.swp
